# Dosya uzantılarını gizlemek için
RewriteEngine On

# .php ve .html uzantılarını gizle
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# user klasörüne erişildiğinde ana sayfaya yönlendirme
RewriteRule ^user(/.*)?$ https://miamonote.com [R=301,L]
